@page "/info"
@using Models;
@using Assignment.Data;
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Policy="MustBeLogged">
            <h3>Hello @context.User.Identity.Name</h3>
            <h5>Your security level is @context.User.FindFirst(claim => claim.Type.Equals("Level")).Value</h5>
</AuthorizeView>

@code{
    
}